<div ng-controller="BreadCrumbController">
    <ol class="breadcrumb">
        <li ng-repeat="bc in breadcrumbs">
            <a href="{{ bc.link }}" ng-class="$last ? 'active' : ''">{{ bc.key }}</a>
        </li>
    </ol>
</div>
