<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle collapsed pull-left col-sm-2" ng-click="toggleAccordionMenu()">
            <span class="fa fa-bars"></span>
        </button>

        <a class="navbar-brand col-md-2 col-sm-2" href="#">
            <img ng-src="app/styles/images/google.png" />
        </a>

        <div class="company-dropdown dropdown col-md-2 col-sm-3">
            <button type="button" id="selectCompanyMenu" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ "COMMON.SELECT_COMPANY" | translate }}<span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="selectCompanyMenu">
                <li>
                    <a href="javascript:void(0);">
                        <img class="company-img" ng-src="app/styles/images/facebook.jpg">facebook
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img class="company-img" ng-src="app/styles/images/google.png" />Google
                    </a>
                </li>
            </ul>
        </div>

        <ul class="nav-bar-controls col-md-8 col-sm-7">
            <li class="row">
                <ul class="pull-right">

                    <li class="company-dropdown-icon dropdown col-md-2 col-sm-3">
                        <button type="button" id="selectComapnyIcon" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><span class="fa fa-fw fa-institution"></span>&nbsp;
                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="selectComapnyIcon">
                            <li>
                                <a href="javascript:void(0);">
                                    <img class="company-img" ng-src="app/styles/images/facebook.jpg">facebook
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img class="company-img" ng-src="app/styles/images/google.png" />Google
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <button type="button" class="btn btn-sm">
                            <span class="fa fa-fw fa-search"></span>&nbsp;
                        </button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-sm">
                            <span class="fa fa-fw fa-exclamation-triangle"></span>
                        </button>
                    </li>

                    <li class="dropdown">
                        <button type="button" id="userAction" class="btn btn-sm dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" aria-role="button" expanded="true">
                            <span class="fa fa-fw fa-user"></span>
                            Hi, {{ user.name }}
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu multi-level dropdown-menu-right" role="menu" aria-labelledby="userAction">
                            <li role="presentation"><a role="menuitem" href="javascript:;">{{ "COMMON.LICENSE_GATEWAY" | translate }}</a>
                            </li>

                            <li role="presentation"><a role="menuitem" href="javascript:;">{{ "COMMON.MY_PROFILE" | translate }}</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="javascript:;">{{ "COMMON.MANAGE" | translate }}</a>
                            </li>

                            <li class="divider"></li>

                            <li role="presentation"><a role="menuitem" href="javascript:;" ng-click="onLangulageSelecetion('en')">{{ "COMMON.ENGLISH" | translate }}</a>
                            </li>
                            <li role="presentation"><a role="menuitem" href="javascript:;" ng-click="onLangulageSelecetion('no')">{{ "COMMON.NORWEGIAN" | translate }}</a>
                            </li>

                            <li class="divider"></li>

                            <li role="presentation"><a role="menuitem" href="javascript:;">{{ "COMMON.LOGOUT" | translate }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
