<!-- menus with description for desktops -->

<div class="accordion-menu-div">
    <accordion class="menu-accordion" close-others="menu.openOneAtATime">
        <accordion-group ng-repeat="menu in menus" is-disabled="menu.submenus.length === 0">
            <accordion-heading>
                <i class="fa fa-fw fa-fw" ng-class="menu.icon"></i>
                <span class="hidden-sm">{{ "COMMON" + "." + menu.title | translate }}</span>
            </accordion-heading>
            <ul>
                <li ng-repeat="sm in menu.submenus">
                    <a href="javascript:;" ng-click="onMenuClicked(sm.href)">
                        <i class="fa fa-fw" ng-class="sm.icon"></i>
                        <span class="hidden-sm">{{ "COMMON" + "." + sm.title | translate }}</span>
                    </a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>

<!-- menus without description for ipad and tablets -->

<div class="menu-accordion-icons">
    <ul class="menu-icon-container">
        <li ng-repeat="menu in menus">
            <a href="javascript:;">
                <i class="fa fa-fw fa-fw" ng-class="menu.icon"></i>

            </a>
            <ul class="sub-menu">
                <li><a href="javascript:;">{{ "COMMON" + "." + menu.title | translate }}</a></li>
                <li ng-repeat="sm in menu.submenus">
                    <a href="javascript:;" ng-click="onMenuClicked(sm.href)">
                        <i class="fa fa-fw fa-fw" ng-class="sm.icon"></i>
                        <span>{{ "COMMON" + "." + sm.title | translate }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
