<div ng-init="getInvoices();" class="invoice-grid-container">
    <div ui-grid="gridOptions" class="invoiceGrid" external-scopes="gridScope" ui-grid-edit ui-grid-selection ui-grid-paging>
    </div>
</div>
