<div ng-init="getInvoiceById();">
    <div class="info-rows col-md-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="detail-info col-md-12 col-sm-12 col-xs-12 border-yellow">
                <div class="info-header bg-yellow">
                    Customer Info
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        CustomerId:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.customerId }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Customer Name:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.customerName }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Currency Code:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.currencyCode }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Contact Ref Id:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.contactReferenceId }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="detail-info col-md-12 col-sm-12 col-xs-12 border-green">
                <div class="info-header bg-green">
                    Invoice Info
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Id:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceId }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Date:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceDate }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Due Date:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceDueDate }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Amount:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceAmount }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Status:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceStatus }}
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Invoice Type:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        {{ invoiceSelected.invoiceType }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-rows col-md-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="detail-info col-md-12 col-sm-12 col-xs-12 border-gray ">
                <div class="info-header bg-gray">
                    Payment Info
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Paid amount:
                    </div>
                    <div class="value col-md-7">
                        {{ invoiceSelected.paidAmount }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="detail-info col-md-12 col-sm-12 col-xs-12 border-pink ">
                <div class="info-header bg-pink">
                    Other Info
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Offer Due Date:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        <div ng-if="invoiceSelected.offerDueDate">{{ invoiceSelected.offerDueDate }}</div>
                        <div ng-if="!invoiceSelected.offerDueDate">&nbsp;</div>
                    </div>
                </div>
                <div class="info-row row">
                    <div class="name col-md-5 col-sm-6 col-xs-6">
                        Your Reference Id:
                    </div>
                    <div class="value col-md-7 col-sm-6 col-xs-6">
                        <div class="value" ng-if="invoiceSelected.yourReferenceId">{{ invoiceSelected.yourReferenceId }}</div>
                        <div ng-if="!invoiceSelected.yourReferenceId">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
