* {
    color: #364150
}
.header {
    background-color: #2B3643;
}
a,
a:visited,
a:hover,
a:active,
i,
span,
a:visited span,
a:hover span,
a:active span {
    color: #b4bcc8;
}
.menu-content,
.footer {
    background-color: #364150;
    color: #b4bcc8;
}

.company-dropdown > button.dropdown-toggle,
.company-dropdown > button.dropdown-toggle:hover,
.company-dropdown > button.dropdown-toggle:focus {
    background: transparent;
    text-shadow: none;
    color: #b4bcc8;
}
/* Accordian related colors overrides */

.panel-group {
    background-color: #364150;
}
.panel,
.panel-default {
    background-color: #364150;
    background-image: none;
    border-color: inherit;
    border-bottom: 1px solid #435060;
}
.panel-default > .panel-heading {
    background-image: none;
    background-color: #364150;
    color: #b4bcc8;
}
.panel-body > ul > li:hover,
.panel-body > ul > li > a:hover,
.panel-body > ul > li > a:active {
    background-color: #3E4B5C;
    color: #b4bcc8;
}
.panel-heading:hover {
    background-color: #2C3542;
}
.panel-heading:focus {
    background-color: green;
}
.overlay-div {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.8)
}
.navbar-toggle {
    background-color: #364150;
    color: #b4bcc8;
}
.navbar-default,
.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.dropdown-toggle {
    background-color: #364150;
    border-color: #3E4B5C;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a span {
    color: #b4bcc8;
    text-shadow: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    background-color: #f5f5f5;
}
.breadcrumbs a:visited,
.breadcrumbs a:hover,
.breadcrumbs a:active {
    border-bottom: 3px solid #364150;
    color: #333333;
}
.breadcrumbs a.active:visited,
.breadcrumbs a.active:hover,
.breadcrumbs a.active:active {
    border: none;
    color: #b4bcc8;
}
.invoice-grid-container a {
    background-color: #E5E5E5;
    color: #333333;
}
.invoice-grid-container a:hover,
.invoice-grid-container a:focus {
    background-color: #3E4B5C;
    color: #b4bcc8;
}
.invoice-grid-container span {
    color: #333333;
}
.border-yellow {
    border: 2px solid #f3c200;
}
.bg-yellow {
    background-color: #f3c200;
}
.border-green {
    border: 2px solid #1BBC9B;
}
.bg-green {
    background-color: #1BBC9B;
}
.border-gray {
    border: 2px solid #67809F;
}
.bg-gray {
    background-color: #67809F;
}
.border-pink {
    border: 2px solid #E26A6A;
}
.bg-pink {
    background-color: #E26A6A;
}
.nav-bar-controls li button,
.nav-bar-controls li button:hover,
.nav-bar-controls li button:focus {
    font-size: 14px;
    background-color: transparent;
    color: #b4bcc8;
}
/* scroll bar for webkit browsers*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    -webkit-appearance: none;
    _background-color: #D5DADE;
    background-color: #D5DADE;
}
::-webkit-scrollbar-thumb element,
::-webkit-scrollbar-thumb {
    opacity: 0.5;
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    _background-color: #364150;
    background-color: #364150;
}

.menu-accordion-icons .menu-icon-container > li:hover > .sub-menu {
    background-color: #364150;
}

.menu-accordion-icons .menu-icon-container li {
    background-color: inherit;
}

.menu-accordion-icons .menu-icon-container > li:hover > a,
.menu-accordion-icons .menu-icon-container > li:hover > .sub-menu > li:first-of-type > a,
.menu-accordion-icons .menu-icon-container > li:hover > .sub-menu > li:hover > a {
    background-color: #2C3542;
}
