body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}
a:focus,
a:hover {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}