/* Landscape phones and down */

@media screen and (max-width: 479px) {
    .menu-accordion > div {
        display: none;
    }
    .menu-accordion-icons {
        display: none;
    }
    .menu-content.sidemenu-open {
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        transition: visibility 0.5s;
        display: block;
    }
    .sidemenu-close {
        transition: visibility 0.5s;
        left: -200px;
    }
    .menu-content.sidemenu-open .menu-accordion > div {
        display: block;
    }
    .menu-content.sidemenu-close .menu-accordion > div {
        display: none;
    }
    .nav-bar-controls > li > ul >li {
        margin: 0px 0px 7px 0px !important;
        display: inline-block;
    }
    .overlay-div.overlay-div-open {
        display: block;
        position: fixed;
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
        height: 100%;
        top: 0;
        left: 200px;
        z-index: 20;
    }
    .overlay-div.overlay-div-close {
        display: none;
        position: fixed;
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
        height: 100%;
        top: 0;
        left: 0;
        z-index: 20;
    }
}
