/* Portrait tablet to landscape and desktop */

@media screen and (min-width: 768px) and (max-width: 979px) {
    .menu-content.navbar {
        overflow: visible;
    }
    .menu-accordion > div {
        display: none !important;
    }
    .menu-accordion-icons {
        display: block !important;
    }
    .company-dropdown-icon {
        display: none !important;
    }
    .menu-accordion-icons .menu-icon-container {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .menu-accordion-icons .menu-icon-container li {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .menu-accordion-icons .menu-icon-container li:hover {
        position: relative;
    }
    .menu-accordion-icons .menu-icon-container > li > a,
    .menu-accordion-icons .menu-icon-container > li:hover > .sub-menu > li > a {
        display: block;
        position: relative;
        margin: 0;
        border: 0px;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
    }
    .menu-accordion-icons .menu-icon-container > li:hover > .sub-menu > li:first-of-type > a {
        padding: 10px 5px;
    }
    .menu-accordion-icons .menu-icon-container > li > .sub-menu {
        display: none !important;
    }
    .menu-accordion-icons .menu-icon-container > li:hover > .sub-menu {
        display: block !important;
        position: absolute;
        padding: inherit;
        list-style: none;
        left: 100%;
        top: 0px;
        margin-top: 0;
        z-index: 2000;
    }
    .menu-accordion-icons .menu-icon-container > li:hover > .sub-menu > li {
        min-width: 150px;
        max-width: 200px
    }
}
