/* Landscape phone to portrait tablet */

@media screen and (max-width: 767px) {
    .menu-accordion > div {
        display: none;
    }
    .menu-accordion-icons {
        display: none;
    }
    .menu-content.sidemenu-open {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 500;
        transition: all 0.5s;
        display: block;
        top: 0;
        left: 0;
    }
    .sidemenu-close {
        transition: all 0.3s;
        display: none;
        !important;
    }
    .menu-content.sidemenu-open .menu-accordion > div {
        display: block;
    }
    .menu-content.sidemenu-close .menu-accordion > div {
        left: -200px;
        transition: visibility 0.5s;
    }
    .overlay-div.overlay-div-open {
        display: block;
        position: fixed;
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
        height: 100%;
        top: 0;
        left: 200px;
        z-index: 20;
    }
    .overlay-div.overlay-div-close {
        display: none;
        position: fixed;
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
        height: 100%;
        top: 0;
        left: 0;
        z-index: 20;
    }
    .company-dropdown {
        display: none;
    }
    .company-dropdown-icon {
        display: block;
    }
}
