/* Portrait tablet to landscape and desktop */

@media screen and (min-width: 978px) {
    .menu-accordion > div {
        display: block !important;
    }
    .accordion-menu-icons {
        display: none !important;
    }
    .company-dropdown-icon {
        display: none !important;
    }
}
