.icon-spacer:before,
.icon-spacer:after {
    width: 1em;
    content: ' ';
}
.overlay-div {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}
.header {
    height: 50px;
    display: block;
}
.header > nav > a > img {
    margin-top: -15px;
    width: 134px;
    height: 50px;
}
.menu-margin-top-5 {
    margin-top: 5px;
}
.font-size-12 {
    font-size: 12px;
}
.company-img {
    width: 120px;
    height: 50px;
}
#company-menu > ul > li {
    width: 250px;
    display: block;
}
.footer {
    height: 40px;
    clear: both;
    text-align: center;
    padding-top: 10px;
}
.footer div {
    height: 40px;
}
.footer ul {
    -webkit-padding-start: 20px;
}
.breadcrumbs {
    height: 30px;
    overflow-y: auto;
    width: 100%;
    vertical-align: middle;
}
.breadcrumbs ul > li {
    /*    padding: 5px;*/
    display: inline-block;
    list-style: none;
}
.footer > div ul {
    list-style: none;
    display: inline-block;
}
.main-content {
    height: -webkit-calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    height: calc(100% - 90px);
    margin: 0px;
    width: 100%;
    clear: both;
}
.menu-content {
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-content,
.page-content {
    padding: 0px;
    height: 100%;
    margin: 0px;
}
.content.container {
    height: -webkit-calc(100% - 30px) !important;
    height: -moz-calc(100% - 30px) !important;
    height: calc(100% - 30px) !important;
    width: 100%;
}
.menu-accordion > div,
.menu-accordion-icons {
    display: none;
}
.invoice-grid-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.invoice-grid-row {
    text-align: center;
    font-weight: bold;
}
.detail-info .info-header {
    height: 25px;
    font-weight: bold;
    text-indent: 10px;
    vertical-align: middle;
}
.info-row .name,
.info-row .value {
    display: inline-block;
}
.info-row .value {
    font-weight: bold;
}
.info-rows {
    margin: 10px 0px;
}
.info-rows > div {
    padding: 10px 10px;
}
.info-rows > div > div {
    min-height: 150px;
}
.invoiceGrid {
    width: 100%;
    height: -webkit-calc(100% - 30px);
    height: -moz-calc(100% - 30px);
    height: calc(100% - 30px);
}
.nav-bar-controls {
    margin: 7px 0px 0px 0px;
    height: 100%;
    list-style-type: none;
}
.nav-bar-controls > li > ul >li {
    margin: 0px 5px 7px 5px;
    display: inline-block;
}
.company-dropdown {
    margin-top: 7px;
    padding-left: 0px;
}
