.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* padding : 0px;*/
}
.panel {
    border: none;
}
.panel-body {
    border: none;
    padding: 0px;
}
.panel-group {
    width: 100%;
}
.panel-body > ul {
    list-style: none;
    padding: 0;
    margin: 8px 0px 8px 0px;
    padding: 1px;
}
.panel-body > ul > li {
    padding: 5px 0px 5px 20px;
}
.panel-body > ul > li > a {
    margin-left: 15px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: none;
}
.panel-heading span {
    font-size: 14px;
    align-content: center;
}
.navbar {
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
}
.navbar-default {
    background-image: none;
}
.navbar-brand {
   padding: 0px 15px;
}
.navbar-brand > img {
    width: 100%;
    height: 100%;
}
.navbar-nav > li > a {
    text-shadow: none;
}
.ui-grid {
    border: none;
}
.ui-grid-header {
    border: none;
}
.ui-grid-render-container-body .ui-grid-native-scrollbar.horizontal {
    overflow-x: auto;
}
.ui-grid-pager-control button {
    border-radius: 3px;
    border: none;
    text-align: center;
}
.breadcrumb {
    padding: 0px 15px;
    margin-bottom: 0px;
}
.navbar-inner > .navbar-toggle {
    z-index: 100;
}
.ui-grid-pager-panel {
    bottom: -10px;
}
