<!DOCTYPE html>
<html ng-app="ngZiriusPoc">

<head>
    <title>Zirius ng-poc</title>

    <META charset="UTF-8">
    <!-- Remove all the caching -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap related scripts -->

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">

    <!-- Font Awesome related files -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">

    <!-- UI-Grid CSS -->
    <link rel="stylesheet" href="lib/ui-grid/ui-grid-unstable.css" />

    <!--  Application related file -->
    <link rel="stylesheet" href="app/styles/base.css" />
    <link rel="stylesheet" href="app/styles/layout_phone.css" />
    <link rel="stylesheet" href="app/styles/layout_common.css" />
    <link rel="stylesheet" href="app/styles/layout_tablet.css" />
    <link rel="stylesheet" href="app/styles/layout_tablet_portrait_desktop.css" />
    <link rel="stylesheet" href="app/styles/layout_large_desktop.css" />
    <link rel="stylesheet" href="app/styles/override.css" />

    <!--  Apply default themes -->
    <link rel="stylesheet" href="app/styles/themes/darkblue.css" />

    <!-- Jquery related scripts -->
    <script type="application/javascript" src="lib/jquery/jquery-1.11.1.min.js"></script>

    <!-- Angular related scripts -->
    <script type="application/javascript" src="lib/angular/angular.js"></script>
    <script type="application/javascript" src="lib/angular/angular-route.js"></script>
    <script type="application/javascript" src="lib/angular/angular-animate.js"></script>
    <script type="application/javascript" src="lib/angular/angular-touch.js"></script>

    <!-- Angular Translate for i18n -->
    <script type="application/javascript" src="lib/angular-translate/angular-translate.js"></script>
    <script type="application/javascript" src="lib/angular-translate/angular-translate-loader-static-files.js">
    </script>

    <!-- Angular UI-bootstrap -->
    <script type="application/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="application/javascript" src="lib/ui-bootstrap/ui-bootstrap-tpls-0.12.0.js" defer></script>

    <!-- UI-Grid -->
    <script type="application/javascript" src="lib/ui-grid/ui-grid-unstable.js"></script>

    <!-- ng-zirius-poc specific files -->

    <script type="application/javascript" src="app/js/invoice/Invoice.js"></script>
    <script type="application/javascript" src="app/js/invoice/service/InvoiceService.js"></script>
    <script type="application/javascript" src="app/js/invoice/controller/InvoiceController.js"></script>
    <script type="application/javascript" src="app/js/invoice/controller/InvoiceDetailController.js"></script>

    <script type="application/javascript" src="app/js/common/Common.js"></script>
    <script type="application/javascript" src="app/js/common/service/ConfigService.js"></script>
        <script type="application/javascript" src="app/js/common/service/UserService.js"></script>
    <script type="application/javascript" src="app/js/common/service/BreadCrumbService.js"></script>
    <script type="application/javascript" src="app/js/common/controllers/HeaderController.js"></script>
    <script type="application/javascript" src="app/js/common/controllers/AccordionMenuController.js"></script>
    <script type="application/javascript" src="app/js/common/controllers/BreadCrumbController.js"></script>

    <script type="application/javascript" src="app/app.js"></script>
</head>

<body>
    <!-- Including header -->
    <div ng-include src="'app/views/header.html'"></div>

    <div class="main-content">

        <!-- Including menu -->
        <div ng-class="menuState == true ? 'sidemenu-open' : 'sidemenu-close'" class="menu-content navbar col-md-2 col-sm-1 pull-left" ng-controller="AccordionMenuController" ng-init="init();" ng-include src="'app/views/menu.html'"></div>

        <div class="page-content col-md-10 col-sm-11">
            <div class="breadcrumbs" ng-include src="'app/views/breadcrumbs.html'"></div>

            <!-- ng-view used for router as a placeholder to replace a rendering page -->
            <div class="content container" ng-view></div>
        </div>
    </div>

    <!-- including footer -->
    <div ng-include src="'app/views/footer.html'"></div>

    <div class="overlay-div" ng-class="menuState == true? 'overlay-div-open' : 'overlay-div-close'" ng-click="menuState=false"></div>
</body>

</html>
